@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bauerg;
  src: url('/fonts/Bauer.woff') format('truetype');
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* background-color: #231913; */
}
/* .main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), #000);
} */
